@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-base font-normal bg-white text-grayDarker;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  header {
    clip-path: ellipse(100% 100% at top);
  }
  input {
    @apply outline-none;
  }
}

a {
  @apply no-underline text-inherit;
}

img {
  @apply w-full h-full max-w-full object-cover object-center cursor-pointer;
}

.header-sidebar {
  @apply flex items-baseline gap-8 xl:gap-20 text-xl ml-auto;
  & > li:hover {
    color: #f48c06;
  }
}

@media screen and (max-width: 1023.98px) {
  .header-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 25px;
    z-index: 50;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
    @apply bg-yellow shadow-md;
    &.is-expand {
      transform: translateX(0);
    }
  }
}

// @media only screen and (max-width: 1024px) and (min-width: 1366px) {
//   header {
//     // clip-path: ellipse(20% 20% at top);
//   }
// }
